<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/auth.css') }}" rel="stylesheet">
    <title>Blog-Login</title>
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

    <div class="login">
      <div class="login-header">
        <h1>Login</h1>
      </div>
      <div id="login-form" class="login-form">
        <h3>Login:</h3>
        <input id="login" type="text" placeholder="Username"/><br>
        <h3>Password:</h3>
        <input id="password" type="password" placeholder="Password"/>
        <br>
        <input type="button" onclick="send()" value="Login" class="login-button"/>
        <br>
        <a class="sign-up" href="{{ url_for('blog_register') }}">Registration</a>
        <br>
      </div>
    </div>
</body>
<script>



    function info_message(message_text)
  {
      let contacts = document.getElementById("login-form")
      let message = document.createElement("p")
      message.className = "message_error"
      message.id = "message_status"
      message.innerHTML = message_text
      contacts.appendChild(message)
  }
  async function send()
  {
    let old_message = document.getElementById("message_status")
        if (old_message){
            old_message.remove()
        }

    let login = document.getElementById("login").value
    let password = document.getElementById("password").value
    let response = await fetch("/login", {
                method: 'POST',
                headers: {'Content-Type': 'application/json',
                          'accept': 'application/json'},
                body: JSON.stringify({
                    'login': login,
                    'password': password
                    })
                })
    if (response.status == 200)
    {
      json = await response.json()
      console.log(json)
      document.cookie = "access_token="+json.access_token+"; path=/" 
      document.location.href = "/blog";
    }
    json = await response.json()
    console.log(json)
    info_message(json.message)
  }
</script>
</html>